/*Configuração da fonte*/
@font-face {
  font-family: 'Roboto';
  src: url('roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Ajuste para dispositivos móveis */
@media only screen and (max-width: 800px) {
  .content-wrapper {
    margin: 20px;
  }
}

/*Ajuste do tamanho da logo*/
img.logo {
  width: 50px; /*Define a altura e largura máxima desejada */
  height: 50px;
}

/*Ajuste do corpo para a nova fonte*/
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.5s; 
}

/*Coloração do header e alinhamento central*/
header {
  text-align: center;
  padding: 15px;
  background-color: #80004B;
}

/*Remoção da margem para manter estável a estrutura*/
header h1 {
  margin: 0;
}

/*Estilização da ancora header1 (icone)*/
header h1 a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

/*Efeitos da mesma ancora quando o mouse é passado*/
header h1 a:hover {
  transform: scale(1.3); 
  text-decoration: underline;
}

/*Estilização base da barra de navegação*/
nav {
  text-align: center;
  background-color: #008000;
  padding: 5px;
  margin-top: 78px; /* Ajuste para garantir espaço entre o header e a navbar */
  bottom: 0; /* Vai até o final da página */
}

/*Efeito de salto e mudança de cor quando o mouse passa nessas ancoras*/
nav a:hover {
  color: #a11b43;
  transform: scale(1.3); 
}

/*Padding base do corpo*/
main {
  padding: 5px;
}

/*Estilização base pro rodapé, com cor diferente, largura total e texto alinhado ao centro*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.5s, color 0.5s;
}

/*Estilização do container central de algumas páginas*/
.container {
  max-width: 1200px; /*Largura máxima desse bloco*/
  border-left: 2px solid #949697; /*Cor das bordas laterias do container central*/
  border-right: 2px solid #949697; 
  padding: 5px;
  margin: 15px auto;
}

/*Estilização simples do container de sobre*/
.container-about {
  max-width: 1200px;
  margin: 15px auto;
}

/*Estilização do Título de introdução do projeto*/
.introduction {
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  max-width: 800px; 
  margin: 0 auto; /*Centraliza o bloco*/
}

/*Estilização do texto de introdução do projeto*/
.project-description {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}

/*Estilização do título de funcionalidades do projeto*/
.features {
  margin-bottom: 20px;
}

/*Estilização das funcionalidades usadas no projeto*/
.technologies-used {
  margin-bottom: 20px;
}

/*Estilização do separador de textos*/
.separator {
  border: 1px solid #023465;
  margin: 20px 0;
}

/*Estilização do botão de troca de modo*/
.mode-switch {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  transition: transform 0.5s;
}

/*Estilização do botão de troca de modo quando o mouse é passado*/
.mode-switch:hover {
  transform: scale(1.2); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

/*Estilização dos ícones de redes sociais no canto inferior direito*/
.social-icons {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

/*Estilização ícones como âncoras*/
.social-icons a {
  color: #333;
  margin-left: 10px;
  font-size: 24px;
  transition: color 0.5s;
}

/*Estilização da barra de navegação lateral*/
.vertical-nav {
  background-color: #4CAF50;
  padding: 15px;
  width: 200px;
  text-align: center;
  position: fixed;
  height: 100%;
  top: 9px; 
  bottom: 0;
  z-index: 1;
}

/*Estilização das ancoras dentro da barra de navegação*/
.vertical-nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  position: relative;
  transition: margin 0.3s;
}

/*Divisor dentro da barra de navegação lateral*/
.nav-divider {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/*Estilização do mapa da google*/
#googleMap {
  width: 300px;
  height: 200px;
  position: absolute;
  bottom: 70px;
  left: calc(100% - 310px); /*Cálculo para deixa-lo na extrema direita*/
  z-index: 1;
}

/*Estilização do bloco do carrossel de imagem*/
.slideshow-container {
  max-width: 200px; /* Defina a largura máxima do slideshow */
  max-height: 200px;
  position: absolute;
  bottom: 150px;
}

/*Estilização da animação de fade do slideshow*/
.fade {
  animation: fade 2s infinite;
}

/*Animação de fade*/
@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}

/*Estilização do bloco que conterá a cascata de rotas*/
.dropdown {
  position: relative;
  top: 0px;
  display: inline-block;
  margin: 0 10px; /* Ajuste conforme necessário para alinhar com os outros itens do menu */
}

/*Conteúdo de dentro de rota*/
.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  min-width: 150px; /* Ajuste conforme necessário */
  max-height: 180px;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px 0; /* Adiciona algum espaço interno ao submenu */
}

/*Revelação do bloco de rotas quando o mouse é passado dentro do dropdown*/
.dropdown:hover .dropdown-content {
  display: block;
}

/*Estilização dos itens dentro da cascata*/
.dropdown-item {
  padding: 12px 16px;
  position: absolute;
  top: -20px;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/*Estilização do item que gera a cascata*/
.dropdown-item-master {
  padding: 12px 16px;
  position: absolute;
  top: -20px;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/*Estilização do item que gera a cascata quando o mouse é passado*/
.dropdown-item-master:hover {
  color: #a11b43;
  transform: scale(1.3);
}

/*Estilização dos itens da cascata quando o mouse é passado*/
.dropdown-item:hover {
  background-color: #ddd;
  transform: translateY(-5px);
}

/*Estilização dos popup que aparece uma vez*/
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/*Centralização dos itens do popup*/
.popup-content {
  text-align: center;
}

/*Estilização do botão de fechar do popup*/
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/*Estilização base do formulário*/
form {
  margin-top: 20px;
}

/*Estilização das labels do formulário*/
label {
  display: block;
  margin-bottom: 5px;
}

/*Estilização das entradasdo formulário*/
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/*Estilização do botão do formulário*/
button {
  background-color: #008000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/*Estilização dos das rotas do projeto*/
h4 {
  color: white; 
  margin-top: 5px; 
  margin-bottom: 5px;
}

/*Estilização do bloco de rota*/
.route-block {
  border: 2px solid #ddd;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
  width: 80%; /* Largura ajustável conforme necessário */
  text-align: left;
}

/*Estilização do bloco de rota quando o mouse é passado*/
.route-block:hover {
  background-color: #cecbcb;
}

/*Estilização da tag de método get*/
.get-method {
  background-color: #3498db;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/*Estilização da tag de método post*/
.post-method {
  background-color: #19ff04;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/*Estilização da tag de método delete*/
.delete-method {
  background-color: #ff0000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/*Estilização da tag de método put*/
.put-method {
  background-color: #ff7300;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/*Estilização da tag de autenticado ou não*/
.authenticated {
  color: #27ae60;
  font-weight: bold;
}

/* Estilo do modal (inicialmente oculto) */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Defina a largura desejada para todos os modais */
  max-width: 90%; /* Garante que o modal não seja maior que 90% da largura da tela */
  padding: 20px; /* Adicione espaço interno conforme necessário */  
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do fundo do modal (inicialmente oculto) */
.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}


/*Daqui para baixo são só os modos noturnos de cada uma das partes do corpo do projeto*/
body.dark-mode .modal {
  background-color: #333;
  color: #fff;
}

body.dark-mode .modal-background {
  background-color: rgba(255, 255, 255, 0.1);
}

body.dark-mode .route-block {
  border-color: #555;
}

body.dark-mode .route-block:hover {
  background-color: #333;
  color: #fff;
}

body.dark-mode .get-method {
  background-color: #3498db;
  color: #fff;
}

body.dark-mode .post-method {
  background-color: #19ff04;
  color: #333;
}

body.dark-mode .delete-method {
  background-color: #ff0000;
  color: #fff;
}

body.dark-mode .put-method {
  background-color: #ff7300;
  color: #fff;
}

body.dark-mode .authenticated {
  color: #27ae60;
  font-weight: bold;
}

body.dark-mode footer {
  background-color: #333; /* Cor de fundo no modo escuro */
  color: white; /* Cor do texto no modo escuro */
}

body.dark-mode .social-icons a {
  color: white; /* Cor dos ícones no modo escuro */
}

body.dark-mode {
  background-color: #333;
  color: white;
}